:root {
    --dark-blue: #0a192f;
    --light-blue: #112240;
    --lightest-blue: #a8b2d1;
    --green: #64ffda;
    --white: #e6f1ff;
    --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    --current-font-family: 'Open Sans', sans-serif;
    
  }

  
html {
  font-family: var(--current-font-family);
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--current-font-family);
}

span{
  font-family: var(--current-font-family);
}

p{
  font-family: var(--current-font-family);
}
a{
  font-family: var(--current-font-family);
}